*.la
*.lo
*.o
.deps
.libs
aclocal.m4
autom4te.cache
build
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
Makefile
Makefile.in
test/gem/site.exp
test/gem/testclip
test/gem/testcopy
test/gem/testdpy
test/gem/testgem
test/gem/testinput
test/gem/testloop
test/gem/testpixmap
test/gem/testpoints
test/gem/testsubwins
test/gem/testtrans
test/gem/testwinsizes
test/gesture/testgest
test/inter/testinplacetext
test/inter/testinter
test/object/test-suite.log
test/object/testobject
test/object/testobject.log
test/object/testobject.trs
test/opal/testJIO
test/opal/testcoord
test/opal/testcursor
test/opal/testfade
test/opal/testflip
test/opal/testgobs
test/opal/testlines
test/opal/testmap
test/opal/testoffset
test/opal/testopal
test/opal/testpolyweb
test/timing/timing
test/widgets/testdragdrop
test/widgets/testrichtext
test/widgets/testselectionwidget
test/widgets/testwidgets
